@import url("https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  --golden-accent-color: #c59d5f;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
  background: var(--golden-accent-color);
}

#content {
  height: 100%;
  width: 100%;
  background-image: url(./assets/nik-owens-40OJLYVWeeM-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template: 10% 1fr 10%/1fr;
}

header,
footer {
  color: white;
}

header {
  border-bottom: 4px solid var(--golden-accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab {
  margin: 2rem;
  cursor: pointer;
  text-transform: uppercase;
}

.tab:hover {
  text-decoration: underline var(--golden-accent-color);
}

.branding {
  font-family: "The Nautigal", cursive;
  font-size: 4rem;
  /* z-index: -1; */
  margin-bottom: -2.2rem;
  color: var(--golden-accent-color);
}

.menu-page {
  width: 100%;
  height: 100%;
  background-color: white;
  color: var(--golden-accent-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.menu-heading {
  color: black;
  font-size: 2rem;
  font-weight: 700;
  margin: 2rem 0;
}

.double-hr {
  width: 8rem;
  border: 2px solid var(--golden-accent-color);
}

.single-hr {
  width: 12rem;
  margin: 1.5rem 0;
  border: 1px solid var(--golden-accent-color);
  text-align: center;
}

.menu-items,
.menu-item-wrapper {
  margin: 2rem 0;
}

.menu-item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-description {
  color: black;
  font-size: 1.1rem;
  padding: 1rem;
}

.item-name {
  font-size: 1.5rem;
  font-weight: 700;
}
.item-price {
  font-size: 1.3rem;
  font-weight: 700;
}

footer {
  border-top: 4px solid var(--golden-accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
